#DNS серверы провайдера, или из /etc/resolv.conf
nserver 8.8.8.8
nserver 8.8.4.4

# Оставьте размер кэша для запросов DNS по умолчанию
nscache 65536

nsrecord www.porno.com 127.0.0.1

daemon
pidfile /var/run/3proxy.pid

log /var/log/3proxy.log D
rotate 7

users proxy:CL:proxy
auth strong
socks -p3128
flush

users admin:CL:admin
maxconn 1
auth strong
admin -p31331
flush
